<html>
  <head>
    <title>İçerikler</title>
    <meta
      property="og:image"
      content="https://i.pinimg.com/736x/c6/7c/e0/c67ce0f1ed761a07caf801be53bbb60f.jpg"
    />
    <!--<title>parsher.com.tr</title>-->
    <link
      rel="icon"
      href="https://i.pinimg.com/736x/c6/7c/e0/c67ce0f1ed761a07caf801be53bbb60f.jpg"
      type="image/x-icon"
    />
    <style>
      .div-margins {
        margin-top: 20px;
      }
    </style>
  </head>
  <body class="bg-zinc-900">
    <%- include('partials/_header'); -%>
    <%- include('partials/_loader'); -%>

    <br />
    <h1 class="text-center text-white text-3xl">İçerikler</h1>
    <br />
    <div
      class="mx-4 my-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-x-4 lg:gap-x-8"
    >


      <!--Yeni Kutu-->
      <div
        class="w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-zinc-800 dark:border-gray-700 owner-card-css"
      >
        <div class="flex flex-col items-center pb-10">
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="https://discordjs.guide/meta-image.png"
            alt="Bonnie image"
          />
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            Discord.js
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >djs içerikleri</span
          >
          <div class="flex mt-4 space-x-3 md:mt-6">
            <a
              href="/forum/kodlar"
              class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >Kodlar</a
            >
            <a
              href="/forum/altyapilar"
              class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >Altyapılar</a
            >
          </div>
        </div>
      </div>
      <!--Yeni Kutu-->
      <div
        class="w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-zinc-800 dark:border-gray-700 owner-card-css"
      >
        <div class="flex flex-col items-center pb-10">
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Circle-icons-folder.svg/1024px-Circle-icons-folder.svg.png"
            alt="Bonnie image"
          />
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            Repository
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >Hazır projeler</span
          >
          <div class="flex mt-4 space-x-3 md:mt-6">
            <a
              href="/forum/repository/"
              class="text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-orange-300 dark:focus:ring-orange-800 shadow-lg shadow-orange-500/50 dark:shadow-lg dark:shadow-orange-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >İçerikler</a
            >
          </div>
        </div>
      </div>
      <!--Yeni Kutu-->
      <div
        class="w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-zinc-800 dark:border-gray-700 owner-card-css"
      >
        <div class="flex flex-col items-center pb-10">
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="https://avatars.githubusercontent.com/u/88053830?s=200&v=4"
            alt="Bonnie image"
          />
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            BDFD
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >BDFD İçerikleri</span
          >
          <div class="flex mt-4 space-x-3 md:mt-6">
            <a
              href="/forum/bdfd"
              class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >Kodlar</a
            >
            <a
              href="/forum/bdfd-altyapilar"
              class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >Altyapılar</a
            >
          </div>
        </div>
      </div>
      <!--Yeni Kutu-->
      <div
        class="w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-zinc-800 dark:border-gray-700 owner-card-css"
      >
        <div class="flex flex-col items-center pb-10">
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="https://marketplace.canva.cn/WioT4/MAEv6IWioT4/1/tl/canva-level-discord-boost-icon-MAEv6IWioT4.png"
            alt="Bonnie image"
          />
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            Booster
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >Booster İçerikleri</span
          >
          <div class="flex mt-4 space-x-3 md:mt-6">
            <a
              href="/forum/boosterinfo"
              class="text-white bg-gradient-to-r from-yellow-400 via-yellow-500 to-yellow-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:focus:ring-yellow-800 shadow-lg shadow-yellow-500/50 dark:shadow-lg dark:shadow-yellow-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >Bilgi</a
            >
            <a
              href="/forum/booster"
              class="text-white bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >İçerikler</a
            >
          </div>
        </div>
      </div>
      <!--Yeni Kutu-->
      <div
        class="w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-zinc-800 dark:border-gray-700 owner-card-css"
      >
        <div class="flex flex-col items-center pb-10">
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="https://i.pinimg.com/736x/ef/47/0d/ef470d5bfd66f6c642cf17d2e513972c.jpg"
            alt="Bonnie image"
          />
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            Sizden gelenler
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >Siz kullanıcıların paylaştığı içerikler.</span
          >
          <div class="flex mt-4 space-x-3 md:mt-6">
            <a
              href="/forum/sizlerden"
              class="text-white bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >İçerikler</a
            >
          </div>
        </div>
      </div>
      <!--Yeni Kutu-->
      <div
        class="w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-zinc-800 dark:border-gray-700 owner-card-css"
      >
        <div class="flex flex-col items-center pb-10">
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="https://w7.pngwing.com/pngs/201/90/png-transparent-logo-html-html5-thumbnail.png"
            alt="Bonnie image"
          />
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            Html
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >Web sitesi için html kodlarının olduğu içerikler</span
          >
          <div class="flex mt-4 space-x-3 md:mt-6">
            <a
              href="/forum/html"
              class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >İçerikler</a
            >
          </div>
        </div>
      </div>
      <!--Yeni Kutu-->
      <div
        class="w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-zinc-800 dark:border-gray-700 owner-card-css"
      >
        <div class="flex flex-col items-center pb-10">
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="https://e7.pngegg.com/pngimages/357/433/png-clipart-computer-icons-website-web-design-logo-thumbnail.png"
            alt="Bonnie image"
          />
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            Website
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >Web sitesi ile alakalı olan içerikler</span
          >
          <div class="flex mt-4 space-x-3 md:mt-6">
            <a
              href="/forum/website"
              class="text-white bg-gradient-to-r from-black-400 via-black-500 to-black-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-black-300 dark:focus:ring-black-800 shadow-lg shadow-black-500/50 dark:shadow-lg dark:shadow-black-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >İçerikler</a
            >
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
